body {
  background-image: url("https://farm6.staticflickr.com/5621/19873946623_41f7c22954_o.jpg");
}
div .navbar-default {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,317684+100 */
  background: #febbbb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #febbbb), color-stop(45%, #fe9090), color-stop(100%, #317684));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#317684', GradientType=0);
  /* IE6-9 */
  background-image: none !important;
  border: none;
  font-family: "Courier New", monospace;
}
div .navbar-default .navbar-nav > li > a {
  color: #424b54;
  text-align: center;
}
div .intro {
  height: 770px;
}
div .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div .element {
  padding: 220px 25px;
  font-family: 'Futura';
  font-size: 5.3em;
  color: #ffffff;
  text-align: center;
}
div .skills {
  padding: 20px 25px;
  height: 690px;
  font-size: 2em;
  color: #f1f7ee;
  text-align: center;
  background-color: #cbd4c2;
}
div .skills h1,
div .skills p {
  font-family: 'Futura';
  font-size: 1.6em;
}
div h1.fancy_title span {
  display: inline-block;
}
div .char1,
div .char3,
div .char9 {
  color: Scrollbar;
  transform: skew(45deg) scale(1.1, 1.1) rotate(26deg) translate(-10px, 8px);
}
div .char2,
div .char6,
div .char8 {
  letter-spacing: 5px;
  color: #238e68;
}
div #dapoint {
  font-family: "Courier New", monospace;
  color: #0f0f0f;
}
div .skills h2 {
  font-family: "Courier New", monospace;
  font-size: 0.8em;
  color: #0f0f0f;
}
div .thumbnail {
  border: none;
  background-color: transparent;
}
div .portfolio {
  margin-top: 65px;
  height: 770px;
  font-size: 2em;
  color: #2e2e3a;
  text-align: center;
  background-color: #c3b299;
}
div .content {
  font-size: 0.9em;
}
div .contact {
  margin: 65px 40px;
  padding: 20px 25px;
  height: 654px;
  border-radius: 6px;
  font-family: "Courier New", monospace;
  font-size: 1.6em;
  color: #424b54;
  text-align: center;
  background-color: #1e2d2f;
}
div .form-horizontal {
  margin: auto 0;
}
#about {
  padding: 20px 25px;
  height: 690px;
  color: #f5f5f5;
  font-family: "Courier New", monospace;
  text-align: center;
  background-color: #929982;
}
