body {
  background-image: url("https://farm6.staticflickr.com/5621/19873946623_41f7c22954_o.jpg");
}
div .navbar-default {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,317684+100 */
  background: #febbbb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #febbbb), color-stop(45%, #fe9090), color-stop(100%, #317684));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #317684 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#317684', GradientType=0);
  /* IE6-9 */
  background-image: none !important;
  border: none;
  font-family: "Courier New", monospace;
}
div .navbar-default .navbar-nav > li > a {
  color: #424b54;
  text-align: center;
}
div .intro {
  height: 770px;
}
div .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div .element {
  padding: 220px 25px;
  font-family: 'Futura';
  font-size: 5.3em;
  color: #ffffff;
  text-align: center;
}
div .skills {
  padding: 20px 25px;
  height: 690px;
  font-size: 2em;
  color: #f1f7ee;
  text-align: center;
  background-color: #b2a19e;
}
div .skills h2 {
  font-family: "Courier New", monospace;
  font-size: 0.8em;
  color: #0f0f0f;
}
div .skills p {
  font-family: Gill Sans;
  font-size: 24px;
  color: #1e2d2f;
}
div .skills p #title {
  font-family: Gill Sans;
  font-size: 0.9em;
}
div #fittext1 {
  text-align: center;
  color: #ffffff;
  font: 95px/1 "Impact";
  text-transform: uppercase;
  display: block;
  margin: 5% auto 5%;
}
div .container-fit {
  padding: 2% 2% 2%;
  background: rgba(0, 0, 0, 0.2);
}
div h1.fancy_title span {
  display: inline-block;
}
div .char1,
div .char3,
div .char9 {
  color: Scrollbar;
  transform: skew(45deg) scale(1.1, 1.1) rotate(26deg) translate(-10px, 8px);
}
div .char2,
div .char6,
div .char8 {
  letter-spacing: 5px;
  color: #238e68;
}
div #dapoint {
  font-family: "Courier New", monospace;
  color: #0f0f0f;
}
div .thumbnail {
  border: none;
  background-color: transparent;
}
div .portfolio {
  margin-top: 65px;
  height: 770px;
  font-size: 2em;
  color: #2e2e3a;
  text-align: center;
  background-color: #9f838c;
}
div .portfolio h1 {
  padding-top: 65px;
  text-align: center;
  color: #ffffff;
  font: 95px/1 "Impact";
  text-transform: uppercase;
  display: block;
  margin: 5% auto 5%;
}
div .portfolio .controls {
  background: none;
}
div .portfolio .controls .active {
  background: #929982;
}
div .portfolio .controls button {
  background: #000000;
}
div .portfolio .container {
  background: none;
}
div .content {
  height: 660px;
  font-size: 0.9em;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}
div .content h1 {
  padding-top: 65px;
  text-align: center;
  color: #ffffff;
  font: 95px/1 "Impact";
  text-transform: uppercase;
  display: block;
  margin: 5% auto 5%;
}
div .content p {
  padding: 0 100px;
  font-family: Gill Sans;
  font-size: 1.8em;
  color: #f5f5f5;
}
div #about {
  padding: 20px 25px;
  color: #424b54;
  font-family: "Courier New", monospace;
  text-align: center;
}
div .contact {
  margin-top: 65px;
  padding: 0 25px;
  height: 654px;
  border-radius: 6px;
  font-family: "Courier New", monospace;
  font-size: 1.5em;
  color: #424b54;
  text-align: center;
  background-color: #816f68;
}
div .contact h1 {
  padding-top: 65px;
  text-align: center;
  color: #ffffff;
  font: 95px/1 "Impact";
  text-transform: uppercase;
  display: block;
  margin: 5% auto 5%;
}
div .form-horizontal {
  margin: 0 306px;
}
div .form-horizontal .form-group {
  padding-top: 20px;
}
div .form-horizontal label {
  color: #ffffff;
}
